<div class="dropdown ms-3"> <!-- Margen izquierdo -->
    <button class="btn dropdown-toggle text-white" id="menuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i> Formulario
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <!-- Aeropuerto -->
        <li>
            <a class="dropdown-item" href="{% url 'Aeropuerto_busqueda_simple' %}"><i class="fas fa-search"></i> Buscar Aeropuerto </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Aeropuerto_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Aeropuerto </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Aeropuerto_crear' %}"><i class="fas fa-search"></i> Crear Aeropuerto </a>
        </li>
        <!-- Aerolinea -->
        <li>
            <a class="dropdown-item" href="{% url 'Aerolinea_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Aerolinea </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Aerolinea_crear' %}"><i class="fas fa-search"></i> Crear Aerolinea </a>
        </li>
        <!-- Estadisticas -->
        <li>
            <a class="dropdown-item" href="{% url 'Estadisticas_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Estadistica </a>
        </li>
        <!-- Reserva -->
        <li>
            <a class="dropdown-item" href="{% url 'Reserva_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Reservas </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Reserva_crear' %}"><i class="fas fa-search"></i> Crear Reservas </a>
        </li>
        <!-- VueloAeroliena -->
        <li>
            <a class="dropdown-item" href="{% url 'Vuelo_Aerolinea_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Vuelo de Aerolienas </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'VueloAerolinea_crear' %}"><i class="fas fa-search"></i> Crear Vuelo de Aerolienas </a>
        </li>
        
            