<div class="dropdown ms-3"> <!-- Margen izquierdo -->
    <button class="btn dropdown-toggle text-white" id="menuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i> Formulario
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        {% if request.session.usuario.rol == 2 %} <!-- Opciones para el rol PASAJERO -->
            <!-- Reserva -->
            <li>
                <a class="dropdown-item" href="{% url 'Reserva_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Reservas </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'Reserva_crear' %}"><i class="fas fa-search"></i> Crear Reservas </a>
            </li>
            <!-- Vuelo-->
            {% comment %} <li>
                <a class="dropdown-item" href="{% url 'Vuelo_crear' %}"><i class="fas fa-search"></i> Crear Vuelo </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'vuelo_listar_api_botones' %}"><i class="fas fa-search"></i> Buscar Vuelo </a>
        </li> {% endcomment %}
        {% elif request.session.usuario.rol == 3 %} <!-- Opciones para el rol GERENTE -->
            <!-- Aeropuerto -->
            <li>
                <a class="dropdown-item" href="{% url 'Aeropuerto_busqueda_simple' %}"><i class="fas fa-search"></i> Buscar Aeropuerto </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'Aeropuerto_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Aeropuerto </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'Aeropuerto_crear' %}"><i class="fas fa-search"></i> Crear Aeropuerto </a>
            </li>
            <!-- Aerolinea -->
            <li>
                <a class="dropdown-item" href="{% url 'Aerolinea_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Aerolinea </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'Aerolinea_crear' %}"><i class="fas fa-search"></i> Crear Aerolinea </a>
            </li>
            <!-- Estadisticas -->
            <li>
                <a class="dropdown-item" href="{% url 'Estadisticas_busqueda_avanzada' %}"><i class="fas fa-search"></i> Buscar Avanzado Estadistica </a>
            </li>
        {% endif %}        
        
            