{% extends 'Principal.html' %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="card shadow-lg p-4 bg-white rounded">
    <h2 class="text-primary text-center mb-4">🔍 Filtros de Búsqueda de Vuelo de Aerolienas</h2>
    <form method="GET" class="mb-4">
        
        <!-- Fecha de Operacion -->
        <div class="mb-3">
            <label for="{{ formulario.fecha_operacion.id_for_label }}" class="form-label fw-bold">
                📅 Fecha de la Operacion
            </label>
            {{ formulario.fecha_operacion }}
            {% for error in formulario.fecha_operacion.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- clase -->
        <div class="mb-3">
            <label for="{{ formulario.clase.id_for_label }}" class="form-label fw-bold">
                Clase del avion
            </label>
            {{ formulario.clase }}
            {% for error in formulario.clase.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- Estado -->
        <div class="mb-3">
            <label for="{{ formulario.estado.id_for_label }}" class="form-label fw-bold">
                ✅ Estado del avion
            </label>
            {{ formulario.estado }}
            {% for error in formulario.estado.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- incidencia -->
        <div class="mb-3">
            <label for="{{ formulario.incidencias.id_for_label }}" class="form-label fw-bold">
                ✅ Estado del avion
            </label>
            {{ formulario.incidencias }}
            {% for error in formulario.incidencias.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- Botón de Búsqueda -->
        <button type="submit" class="btn btn-primary w-100 fw-bold">
            🔎 Buscar Aerolíneas
        </button>
    </form>
</div>


<h2 class="text-center text-secondary my-4">Resultados de búsqueda</h2>

<div class="row">
    {% if vueloaerolinea %}
        {% for vueloae in vueloaerolinea %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">vueloae ID: {{ vueloae.id }}</h5>
                    <p class="card-text">
                        <strong>Fecha de la operacion:</strong> {{ vueloae.fecha_operacion }}<br>
                        <strong>Estadod el avion:</strong> {{ vueloae.estado }}<br>
                        <strong>Clase:</strong> {{ vueloae.clase }}<br>
                        <strong>Incidencia:</strong> {{ vueloae.incidencias }}<br>
                        <strong>Aeroliena:</strong> {{ vueloae.aerolinea.id }}<br>
                        <strong>Pasajero:</strong> {{ vueloae.vuelo.id }}<br>
                    </p>
                </div>
                <div class="card-footer text-center">
                    {% load bootstrap_icons %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            <button type="button" 
                                    class="btn btn-outline-primary"> 
                                    {% comment %} <a href="{% url 'vueloae_editar' vueloae.id %}" >{% endcomment %}<span>{% bs_icon 'pencil' %}</span></a> 
                            </button>
                        </div>
                    </div>
                    <div class="mb-2">
                        <form  method="post"> 
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">
                                <span>{% bs_icon 'trash' %}</span>
                            </button> 
                        </form>
                        {% comment %} <!-- Botón Actualizar codigo -->
                        <button type="button" class="btn btn-outline-warning"> 
                            <a href="{% url 'vueloae_actualizar_codigo_descuento' vueloae.id %}">
                                <span>{% bs_icon 'pencil-square' %}</span> Actualizar Codigo de descuento
                            </a>
                        </button> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p class="text-center text-danger">No se encontraron resultados.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
