{% extends 'Principal.html' %}

{% block contenido %}
<h1 class="display-3">Lista de Libros</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}



    {% block busqueda %}
    {% endblock %}

    <div class="row">
        {% for aeropuerto in aeropuerto_mostrar %}
            <div class="col-sm-4 mb-2">
                {% include 'Lista/Aeropuerto.html' %}
            </div>
        {% empty %}
            <h1>Lo sentimos pero no hay libros</h1>
        {% endfor %}
    </div>
{% endblock %}
